<%- include('partials/header') %>
<style>
    .card{
        height: 500px;
        background-color: #f8f9fa;
        margin-bottom: 70px;
        margin-top: 90px;
    }
    .card-horizontal {
    display: flex;
    flex: 1 1 auto;
    
}
img, svg {
    vertical-align: middle;
    height: 500px;
    width: 700px;
    margin-bottom: 30px;
}
h1{
    margin-top: 70px;
    text-align: center;
}
.card-title{
    color:#A05C2A ;
}
hr{
    color: #A05C2A;
    
}
</style>
<div class="container">
    
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 mt-3">
                    <div class="card">
                        <div class="card-horizontal">
                            <div class="img-fluid">
                                <img  src="/images/about us.jpeg" alt="Card image cap" >
                            </div>
                            <div class="card-body">
                                <h1 class="card-title">About Us</h1><hr>
                                <div class="container"><p class="card-text"><p> </p>Organica is a website of medicinal plants which strives to connect plant owners with people in need of plants. We are trying to solve a community problem while connecting people in the process.<p> </p>
                                    <p>This project is aimed solely for the welfare of the society.We want to promote organic products and power of ayurveda.We want to make sure that everyone has access to medicinal plants.</p>
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div> 

</div>
<%- include('partials/footer') %>
