<%- include('partials/header') %>
<style>
   
    body{
        background-image:url("/images/bg_image.jpg");
        background-size: cover;
        background-position: center;
        font-family: 'Poppins', sans-serif;
    }
    html{
        height: 100%;
    }
</style>



<a href="/plants">View all Plants</a>

<%- include('partials/footer') %>