<%- include('partials/header') %>

<h1>PLANTS</h1>
<a href="/plants/new">Add new plant</a>

<% plants.forEach(function(plants){ %>
    <div>
        <h4><%= plants.name %></h4>
        <img src="<%= plants.image %>">
    </div>
<% }); %>

<%- include('partials/footer') %>