<%- include('../partials/header') %>

<h1>NEW PLANT</h1>

<form action="/plants" method="POST">
    <input type="text" name="text" placeholder="text">
    <input type="text" name="author" placeholder="author">
    <button>Submit!!</button>
</form>

<%- include('../partials/footer') %>