<%- include('../partials/header') %>

<h1>NEW PLANT</h1>

<form action="/plants" method="POST" >
    <input type="text" name="name" placeholder="name">
    <input type="text" name="image" placeholder="image">
    <input type="text" name="description" placeholder="description">
    <!--<div class="custom-file mb-3">
        <input type="file" name="file" id="file" class="custom-file-input">
        <label for="file" class="custom-file-label">Choose File</label>
    </div> -->
    <button>Submit!!</button>
</form>
<a href="/plants">Go Back</a>

<%- include('../partials/footer') %>