<%- include('../partials/header') %>

<h1>NEW PLANT</h1>

<form action="/plants" method="POST">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="image" placeholder="image">
    <input type="text" name="discription" placeholder="discription">
    <button>Submit!!</button>
</form>
<a href="/plants">Go Back</a>

<%- include('../partials/footer') %>