<%- include('../partials/header') %>

<h1>NEW PLANT</h1>

<form action="/plants" method="POST" enctype="multipart/form-data">
    <input type="text" name="image" placeholder="image">
    <input type="text" name="description" placeholder="description (if you wish)"> 
    <label for="plantType">Choose a plant:</label>

    <select name="plantType">
        <option value="tulsi">Tulsi</option>
        <option value="aloevera">Aloevera</option>
        <option value="curryLeaves">Curry Leaves</option>
        <option value="neem">Neem</option>
        <option value="mulethi">Mulethi</option>
        <option value="ashwagandha">Ashwagandha</option>
        <option value="turmeric">Turmeric</option>
        <option value="giloy">Giloy</option>
        <option value="mint">Mint</option>
    </select>
    <div class="custom-file mb-3">
        <input type="file" name="file" id="file" class="custom-file-input">
        <label for="file" class="custom-file-label">Choose File</label>
    </div> 
    <button>Submit!!</button>
</form>
<a href="/plants">Go Back</a>

<%- include('../partials/footer') %>